/* FrutigerLTStd-Roman*/
@font-face {
    font-family: 'FrutigerLTStd-Roman';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}