/* FrutigerLTStd-BoldItalic*/
@font-face {
    font-family: 'FrutigerLTStd-BoldItalic';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-BoldItalic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}