/* FrutigerLTStd-Italic*/
@font-face {
    font-family: 'FrutigerLTStd-Italic';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-Italic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}