/* FrutigerLTStd-Light*/
@font-face {
    font-family: 'FrutigerLTStd-Light';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}