/* FrutigerLTStd-BoldCn*/
@font-face {
    font-family: 'FrutigerLTStd-BoldCn';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-BoldCn.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}