/* Frutiger */

    @font-face {
        font-family: 'Frutiger';
        font-style: normal;
        font-weight: normal;

        src: 
            url('https://chrishauswald.github.io/Frutiger.woff') format('woff');
        }
    

    @font-face {
        font-family: 'Frutiger Bold';
        font-style: normal;
        font-weight: normal;
        src: 
            url('https://chrishauswald.github.io/Frutiger_bold.woff') format('woff');;
    }