/* FrutigerLTStd-Cn*/
@font-face {
    font-family: 'FrutigerLTStd-Cn';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-Cn.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}