/* FrutigerLTStd-LightCn*/
@font-face {
    font-family: 'FrutigerLTStd-LightCn';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-LightCn.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}