/* FrutigerLTStd-LightItalic*/
@font-face {
    font-family: 'FrutigerLTStd-LightItalic';
    src:
        url('https://chrishauswald.github.io/FrutigerLTStd-LightItalic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}