/* Frutiger-Bold*/
@font-face {
    font-family: 'Frutiger-Bold';
    src:
        url('https://chrishauswald.github.io/Frutiger_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}