/* Orbitron-ExtraBold*/
@font-face {
	font-family: 'Orbitron-ExtraBold';
	src:
		url('https://chrishauswald.github.io/Orbitron-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}