/* Orbitron-VariableFont_wght*/
@font-face {
	font-family: 'Orbitron-VariableFont_wght';
	src:
		url('https://chrishauswald.github.io/Orbitron-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}