/* Orbitron-Medium*/
@font-face {
	font-family: 'Orbitron-Medium';
	src:
		url('https://chrishauswald.github.io/Orbitron-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}