/* Orbitron-Regular*/
@font-face {
	font-family: 'Orbitron-Regular';
	src:
		url('https://chrishauswald.github.io/Orbitron-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}