/*Satoshi*/


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('https://chrishauswald.github.io/Satoshi-Medium.woff2') format('woff2'),
       url('https://chrishauswald.github.io/Satoshi-Medium.woff') format('woff'),
       url('https://chrishauswald.github.io/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
