/* SegoeUI*/
@font-face {
	font-family: 'SegoeUI';
	src:
		url('https://chrishauswald.github.io/SegoeUI.woff') format('woff'),
		url('https://chrishauswald.github.io/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}